html, body {
  width: 100%;
  height: 100%;
}
.dragable {
    background: transparent;
    border: none;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    left: 30%;
    top: 20%;
    cursor: move;
  }

  #toolbar {
    width: 200px;
    height: 50px;
    padding: 10px;
    position: absolute;
    left: 0%;
    top: 12%;
    z-index: 2;
  }
