body {
  background-image:url('https://static.pexels.com/photos/158251/forest-the-sun-morning-tucholskie-158251.jpeg');
  background-size:cover;
}
.dragable {
    background-color: #FFFFFF;
    border: 2px solid #183147;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 40%;
    cursor: move;
  }
#target {
  /**
  width: 100%;
  height: 100%;
  **/
}
#toolbar {
  background: white;
  width: 200px;
  height: 300px;
  padding: 10px;
}